In [1]:
import os
os.chdir('D:/mlopsproject2/mlops-enterprise')
os.environ['SPARK_HOME'] = 'C:\spark-3.5.6-bin-hadoop3\spark-3.5.6-bin-hadoop3'
os.environ['HADOOP_HOME'] = 'C:\hadoop'
os.environ['JAVA_HOME'] = 'C:\Program Files\Java\jdk-17'

java_home = os.getenv('JAVA_HOME')
if not java_home:
    print("JAVA_HOME environment variable is not set.")
else:
    print(f"JAVA_HOME is set to: {java_home}")

%pwd

JAVA_HOME is set to: C:\Program Files\Java\jdk-17

'D:\\mlopsproject2\\mlops-enterprise'

In [3]:
import mysql.connector, imblearn
from typing import Any, Dict, List, Optional
from pathlib import Path
import sys, os, boto3, pyspark, re
import pyarrow as pa
import pyarrow.parquet as pq
import pandas as pd
import numpy as np
from sklearn.experimental import enable_iterative_imputer # Required for IterativeImputer
from sklearn.impute import IterativeImputer
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline
import sklearn as sk
from pyspark import SparkContext
from pyspark.sql import SQLContext, SparkSession
from decimal import Decimal

In [ ]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine

with open('../src/sql/data_aggregation2.sql') as sqlquery:
    cnx = create_engine('mysql+mysqlconnector://guest:ctu-relational@relational.fel.cvut.cz/tpcds')
    sqlquery = sqlquery.read()
    df = pd.read_sql(sqlquery, cnx) #read the entire table
df.dropna(inplace = True)
df.drop_duplicates()
df.drop(columns={'c_email_address', 'c_birth_country', 'c_salutation', 'c_first_name', 'c_last_name', 'c_birth_country'}, inplace = True)
df[['c_birth_year','c_birth_month','c_birth_day', 'store_transactions', 'catalog_transactions', 'web_transactions', 'total_return_quantity']] = df[['c_birth_year','c_birth_month','c_birth_day', 'store_transactions', 'catalog_transactions', 'web_transactions', 'total_return_quantity']].astype(int)
df['birth_date'] = pd.to_datetime(df['c_birth_year'].astype(str) + '-' + df['c_birth_month'].astype(str) + '-' + df['c_birth_day'].astype(str))
df.drop(columns = {'c_birth_month', 'c_birth_day', 'c_birth_year'}, inplace = True)

cols = list(df.columns)
cols = cols[:2] + [cols[-1]] + cols[3:-1]
df = df[cols]
df.head(20)

,c_customer_sk,c_preferred_cust_flag,birth_date,cd_marital_status,cd_education_status,cd_purchase_estimate,cd_credit_rating,dependent_count,dependents_employed,dependents_in_college,...,web_sales_pct,store_transactions,catalog_transactions,web_transactions,total_returns,total_return_amount,total_return_quantity,return_rate,return_amount_rate,net_sales_amount
0,1,Y,1936-12-09,S,Advanced Degree,1000.0,Good,0.0,4.0,3.0,...,0.000000,9,9,0,3,6686.38,67,0.16667,0.113374,52289.67
1,2,Y,1966-04-09,W,2 yr Degree,5000.0,Low Risk,6.0,6.0,2.0,...,0.121240,43,32,10,6,6603.98,132,0.07059,0.043075,146709.05
2,3,N,1979-09-18,M,College,5500.0,Good,4.0,2.0,5.0,...,0.074322,11,37,10,5,11807.50,94,0.08621,0.078192,139199.26
3,4,N,1983-06-07,S,4 yr Degree,6000.0,Good,3.0,1.0,6.0,...,0.249075,10,19,9,4,12006.22,218,0.10526,0.173878,57043.35
4,5,N,1956-05-08,M,4 yr Degree,10000.0,Good,2.0,3.0,3.0,...,0.000000,47,0,0,5,9563.77,224,0.10638,0.073425,120687.60
5,6,N,1925-12-04,U,Unknown,3000.0,Good,3.0,5.0,0.0,...,0.124045,18,33,11,6,5170.49,141,0.09677,0.036453,136671.16
6,7,Y,1985-04-24,W,Advanced Degree,8500.0,Good,5.0,1.0,0.0,...,0.000000,71,8,0,5,587.29,135,0.06329,0.004172,140172.18
7,8,N,1938-12-26,W,Unknown,5000.0,Good,0.0,3.0,4.0,...,0.556291,0,4,10,1,1998.60,30,0.07143,0.037490,51311.95
8,9,N,1966-10-26,W,Secondary,8000.0,High Risk,5.0,1.0,4.0,...,0.256983,0,23,11,2,772.35,81,0.05882,0.007385,103811.64
9,10,N,1973-10-15,S,Advanced Degree,5500.0,High Risk,5.0,2.0,4.0,...,0.000000,18,9,0,2,1330.76,93,0.07407,0.022394,58093.17
11,12,N,1956-06-02,M,2 yr Degree,7000.0,High Risk,5.0,5.0,1.0,...,0.000000,15,20,0,4,2796.76,64,0.11429,0.036173,74520.14
12,13,N,1970-03-01,W,Unknown,2500.0,High Risk,5.0,0.0,4.0,...,1.000000,0,0,10,4,7173.08,110,0.40000,0.256356,20807.89
15,16,N,1933-12-24,S,Primary,6000.0,High Risk,3.0,2.0,4.0,...,0.327069,62,0,24,4,3402.82,52,0.04651,0.017545,190547.12
16,17,N,1972-12-23,S,2 yr Degree,4000.0,Low Risk,0.0,4.0,2.0,...,0.443263,25,11,20,5,4398.22,176,0.08929,0.031038,137305.37
17,18,Y,1950-09-01,M,Primary,3000.0,Good,5.0,6.0,4.0,...,0.306490,22,9,13,6,3537.77,117,0.13636,0.048834,68907.22
18,19,N,1978-10-20,M,College,8500.0,Low Risk,4.0,1.0,4.0,...,0.202976,30,7,11,5,7348.01,118,0.10417,0.075197,90368.60
19,20,Y,1976-05-17,M,College,9000.0,High Risk,1.0,2.0,4.0,...,0.479958,37,5,44,4,2719.72,68,0.04651,0.015007,178512.01
20,21,N,1956-05-18,W,Secondary,2500.0,Good,2.0,4.0,1.0,...,0.000000,30,48,0,9,8493.54,143,0.11538,0.041997,193746.87
21,22,N,1991-12-21,S,Primary,4000.0,High Risk,3.0,5.0,1.0,...,0.541539,24,9,35,1,3933.76,32,0.01471,0.027992,136599.90
23,24,Y,1951-06-06,S,2 yr Degree,2500.0,Good,3.0,0.0,0.0,...,0.000000,15,10,0,2,1529.66,44,0.08000,0.022163,67489.40